<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185792571175-3menakblkij6p9a9i3ap34d98hbunj3v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185792571175-3menakblkij6p9a9i3ap34d98hbunj3v</string>
	<key>API_KEY</key>
	<string>AIzaSyBDqWSUPI1acNd-cdb3lZ7-YyuGJRT9IsU</string>
	<key>GCM_SENDER_ID</key>
	<string>185792571175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>starkov.Instagramm-app</string>
	<key>PROJECT_ID</key>
	<string>instagramm-app</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramm-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185792571175:ios:de2b8febf37afccc666b02</string>
</dict>
</plist>